
<div class="body">
    <div class="leftmid">
        <iframe width="900" height="600" style="margin: 0 0 0 30px;"  src="https://www.youtube.com/embed/EBpp2VTSI2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2 style="color: aliceblue;margin-left: 30px;" >ERIK - Yêu đương khó quá thì CHẠY VỀ KHÓC VỚI ANH | Official Music Video (Genshin Impact)</h2>
        <h1 style="color: aliceblue;margin-left: 30px;font-size: large;">12.749.000 lượt xem   Đã công chiếu vào 26 thg 1, 2022<mat-icon style="margin: 0 0 0 350px;font-size: xx-large;">share</mat-icon><mat-icon style="margin: 0 0 0 20px;font-size: xx-large;">favorite_border</mat-icon></h1>
        <h1>12.789 </h1>
    </div>
    <div class="rightmid">
        <div class="container" >
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: larger;margin-right: 75px;">Không trọn vẹn nữa</h2>
                <h1 style="font-size: small;margin-right: 125px; margin-top: -20px;">Châu Khải Phong</h1>
                
                
            </div>
            
        </div>
        
        <div class="container">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: larger;margin-right: 75px;">Không trọn vẹn nữa</h2>
                <h1 style="font-size: small;margin-right: 125px; margin-top: -20px;">Châu Khải Phong</h1>
                
                
            </div>
            
        </div>
        
        <div class="container">
            <img class="img" src="https://i.ytimg.com/vi/FN7ALfpGxiI/maxresdefault.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: larger;margin-right: 110px;">Nơi này có anh</h2>
                <h1 style="font-size: small;margin-right: 138px; margin-top: -20px;">Sơn Tùng MTP</h1>
                
            </div>
            
        </div>
    
        <div class="container">
            <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/share/2022/01/26/1/f/7/6/1643184498175.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: larger;margin-right: 65px;">Chạy về khóc với anh</h2>
                <h1 style="font-size: small;margin-right: 200px; margin-top: -20px;">Erik</h1>
                
            </div> 
            
        </div>
    </div>
    
</div>

