<div class="body">
    <div class="leftmid">
        <iframe width="100%" height="600" style="margin: 15px 0 0 60px;" src="https://www.youtube.com/embed/EBpp2VTSI2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h2 style="color: aliceblue;margin-left: 60px;">ERIK - Yêu đương khó quá thì CHẠY VỀ KHÓC VỚI ANH | Official Music Video (Genshin Impact)</h2>
        <h1 style="color: aliceblue;margin-left: 60px;font-size: large;">12.749.000 lượt xem Đã công chiếu vào 26 thg 1, 2022
            <mat-icon style="margin: 0 0 0 490px;font-size: xx-large;">share</mat-icon>
            <mat-icon style="margin: 0 0 0 20px;font-size: xx-large;">favorite_border</mat-icon>
        </h1>
        <h1 style="color: aliceblue;margin-left: 60px;">12.789 bình luận</h1>
        <div class="comment">
            <h1 style="font-size: large; margin-left: 10px;margin-top: 10px;">Nhập bình luận</h1>
        </div>
    </div>
    <div class="rightmid">
        <div class="container">
            <img class="img" style="margin-top: 0px;border-radius: 5px;" src="https://upload.wikimedia.org/wikipedia/vi/8/85/Chay_ngay_di.png" alt="">
            
            <div style="color: aliceblue; margin: 40px 0 0 0;">
                <h2 style="margin-left: 10px;font-size: x-large;">Chạy ngay đi</h2>
                <h1 style="font-size: small; margin-top: -20px;margin-right: 40px;">Sơn Tùng MTP</h1>
                <h1 style="font-size: small;margin: -25px 10px 0px 0;">1.123.456 lượt nghe</h1>
            </div>

        </div>

        <div class="container">
            <img class="img" style="margin-top: 1px;border-radius: 5px; height: 147px;" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <div style="color: aliceblue;margin: 40px 0 0 0;">
                <h2 style="margin-left: 10px;font-size: x-large;">Không trọn vẹn nữa</h2>
                <h1 style="font-size: small;margin-right: 100px; margin-top: -20px;">Châu Khải Phong</h1>
                <h1 style="font-size: small;margin: -25px 80px 0px 0;">1.123.456 lượt nghe</h1>



            </div>

        </div>

        <div class="container">
            <img class="img" style="height:147px ; margin-top: 1px; "  src="https://i.ytimg.com/vi/FN7ALfpGxiI/maxresdefault.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: larger;margin-left: 10px; font-size: x-large;margin-top: 40px;">Nơi này có anh</h2>
                <h1 style="font-size: small; margin-top: -20px;margin-right: 60px;">Sơn Tùng MTP</h1>
                <h1 style="font-size: small;margin: -25px 30px 0px 0;">1.123.456 lượt nghe</h1>


            </div>

        </div>

        <div class="container">
            <img class="img" style="margin-top: 0px;  ;" src="https://avatar-ex-swe.nixcdn.com/song/share/2022/01/26/1/f/7/6/1643184498175.jpg" alt="">
            <div style="color: aliceblue;">
                <h2 style="font-size: x-larger;margin-left: 10px;margin-top: 40px;">Chạy về khóc với anh</h2>
                <h1 style="font-size:13px;margin: -20px 150px 0px 0;">ERIK</h1>
                <h1 style="font-size: small;margin: -10px 60px 0px 0;">1.123.456 lượt nghe</h1>


            </div>

        </div>
    </div>

</div>