.body{
    background-color: #181818	;
    height: auto;
    width: 100%;
    text-align: center;
  
}
.container{


height: 150px;
width: 200px;
    
margin-left: 10%;
border-radius: 5px;
background-color: #484848;
    
margin : 15px 0 0 100px;  
    
}
.img{
    height: 100px;
    width: 170px;
    margin: 10% 0 0 0;
    

}
.play{
    height: 500px;
    width: 500px;
    
   
}