<div style="margin-top: 20px;" class="product-items">
    <div class="product" *ngFor="let audio of audios; index as i">
        <div (click)="getDetail(audio._id, i)">
            <div class="product-content">
                <div class="product-img">
                    <img [src]="audio.photoURL" alt="" />
                </div>
            </div>
            <p class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">{{audio.audioName}}</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">{{audio.artistId?.artistName}}</p>
        </div>
    </div>
</div>