.layout_profile{
    padding: 10% 0 20% 15%;
    display: flex;
    background-color: #202020;
}
.username{
    display: flex;
    border-style: solid;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border-color: grey;
    color: white;
}
.email{
    display: flex;
    border-style: solid;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border-color: grey;
    color: white;
}
.birth{
    display: flex;
    border-style: solid;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border-color: grey;
    color: white;
}
.nation{
    display: flex;
    border-style: solid;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border-color: grey;
    color: white;
}
.button{
    margin-left: 350px;
}