<div class="layout-profile" >
    <div class="container-profile" >
        <img class="image" [src]="user?.photo">
        <div class="edit">
            <p style="font-size: 25px;padding-top: 7%;">{{user?.displayName}}</p>
        </div>
    </div>
    <div *ngIf="user" class="container-name">
        <div class="input-form">
            <div class="full-name">
                <p style="color: white;padding-top: 2%; ">username:</p>
                <input style="width: 70%;float: right;" type="text" [(ngModel)]="user.account" >
            </div>
            <div class="full-name">
                <p style="color: white;padding-top: 2%; ">Email:</p>
                <input style="width: 70%;float: right;" type="text" [(ngModel)]="user.email" >
            </div>
            <div class="full-name">
                <p style="color: white;padding-top: 2%; ">Số điện thoại:</p>
                <input style="width: 70%;float: right;" type="text" [(ngModel)]="user.phonenumber" >
            </div>
            <div class="full-name">
                <p style="color: white;padding-top: 2%; ">Ghi chú:</p>
                <input style="width: 70%;height:auto;float: right;">
            </div>
        </div>
        <!-- <div class="">
            
            <a>
                <p style="color: white;padding-top: 2%; ">username:</p>
            </a>
            <b>
            <input style="width: 70%;float: right;">
            </b>
            <p style="color: white;padding-top: 2%; ">họ và tên:</p>
            <input style="width: 70%;float: right;">
        
            <p style="color: white;padding-top: 2%; ">Email:</p>
            <input style="width: 70.1%;float: right;">
        
            <p style="color: white;padding-top: 2%; ">Số điện thoại:</p>
            <input style="width: 70%;float: right;">
    
            <p style="color: white;padding-top: 2%; ">Ghi chú:</p>
            <input style="width: 70.1%;height:auto;float: right;">
    </div> -->
        <span class="p-buttonset" >
            <button pButton pRipple label="edit" icon="pi pi-check" style="margin-right: 1%; margin-top: 2%;"></button>
            <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
        </span>
    </div>
</div>