<div class="layout-profile">
    <div class="container-profile">
        <img class="image" src="../../../../assets/Images/avatar.jpg">
        <div class="edit">
            <p style="font-size: 25px;padding-top: 7%;">Đức Đạt</p>
        </div>
    </div>
    <div class="container-name">
        <div class="full-name">
            <p style="color: white;padding-top: 2%;padding-right: 9.4%;">username:</p>
            <input style="width: 50%;">
            <!-- <p style="color: white;padding: 2% 2% 0% 2%;width: 30%;">họ và tên:</p>
            <input style="width: 50%;height: auto;"> -->
        </div>
        <div class="full-name">
            <p style="color: white;padding-top: 2%;padding-right: 10%;">họ và tên:</p>
            <input style="width: 50%;">
        </div>
        <div class="full-name">
            <p style="color: white;padding-top: 2%;padding-right: 12.5%;">Email:</p>
            <input style="width: 50.1%;">
        </div>
        <div class="full-name">
            <p style="color: white;padding-top: 2%;padding-right: 7%;">Số điện thoại:</p>
            <input style="width: 50%;">
        </div>
        <div class="full-name">
            <p style="color: white;padding-top: 2%;padding-right: 11.1%;">Ghi chú:</p>
            <input style="width: 50.1%;height:auto;">
        </div>
        <span class="p-buttonset">
            <button pButton pRipple label="Save" icon="pi pi-check"></button>
            <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
        </span>
    </div>
</div>