<div class="layout_profile">
    <div class="container_info">
        <div class="username">
            <p>Tên người dùng:</p>
            <p style="margin-left: 400px;">Đức Đạt</p>
        </div>
        <div class="email">
            <p>Email:</p>
            <p style="margin-left: 281px;">dat.hd3613@sinhvien.hoasen.edu.vn</p>
        </div>
        <div class="birth">
            <p>Ngày sinh:</p>
            <p style="margin-left: 420px;">23/04/2001</p>
        </div>
        <div class="nation">
            <p>Quốc gia hoặc khu vực:</p>
            <p style="margin-left: 346px;">Việt Nam</p>
        </div>
        <div class="button">
            <button style="background-color: #FFA07A;margin-right: 20px;width: 124px;height: 70.05px;border-radius: 30px;">Edit</button>
            <Button style="background-color: #FF0000;width: 124px;height: 70.05px;border-radius: 30px;">Cancel</Button>
        </div>
    </div>
    <div class="container_image">
        <img style="border-radius: 50%;width: 200px;height: 200px;margin-left: 10px;" src="../../../../assets/Images/avatar.jpg">
    </div>

</div>
