<!-- <div class="content">
    <div class="title">
        <div class="name">
            <h1 id="name">Tên bài hát</h1>
        </div>
        <div class="artist">
            <h1 id="artist"> Nghệ sĩ</h1>
        </div>
        <div class="listener">
            <h1 id="listener">Lượt nghe</h1>
        </div>
    </div>
    <div class="info">
        <div class="songname">
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
        </div>
        <div class="artistname">
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
        </div>
        <div class="listencount">
            <table class="table">
                <tr>
                  <td>
                    <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                  </td>
                    <td>223,232</td>
                </tr>
                <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
              </table>
        </div>
        <div class="edit">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div> -->
<div class="content">
    <table>

        <tr>
            <th>Tên bài hát</th>
            <th>Nghệ sĩ</th>
            <th>Lượt nghe</th>
            <th></th>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>

        <tr>
            <td>
                <p>Muộn rôi mà sao còn</p>
            </td>
            <td>
                <p>Sơn tùng-MTP</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;">delete</mat-icon>
            </td>
        </tr>
    </table>
</div>

<div class="add-button">
    <button style="font-size: 40px;border-radius: 10px;background-color: white;" mat-flat-button><mat-icon style="color: black;" (click)="upload()" >file_upload</mat-icon></button>
</div>


<p-dialog header="Tải nhạc lên" [(visible)]="displayUpLoad" [style]="{width: '50vw'}">
    <p>Đóng góp thêm phần đa dạng cho âm nhạc</p>
    <div class="">
        <div style="display: flex; justify-content: space-between;">
            <div style="margin-left: 10%;" class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-angle-right"></i></span>
                    <input type="text" pInputText placeholder="Tên bài hát">
                </div>
            </div>
            <div style="margin-right: 10%; float: right; " class="col-12 md:col-4 ">
                <div class="p-inputgroup ">
                    <span class="p-inputgroup-addon "><i class="pi pi-angle-right "></i></span>
                    <input type="text " pInputText placeholder="Tên ca sĩ ">
                </div>
            </div>
        </div>
        <div style=" margin-top: 3%; margin-left: 9%; display: flex;">
            <div>
                <h3 style="font-size: small; margin-left: 10%; margin-top: 2%;">Tải file nhạc lên:</h3>
                <div style="margin-top: -2%; margin-left:10%;">
                    <input type="file">
                </div>
            </div>
            <div style="margin-left: 17%;">
                <h3 style="font-size: small; margin-left: 10%; margin-top: 2%;">Tải file hình ảnh lên:</h3>
                <div style="margin-top: -2%; margin-left:10%;">
                    <input type="file">
                </div>
            </div>
        </div>
        <div style="display: flex; margin-top: 5%;">
            <div class="layout">
                <h3 style="margin-left: 36%;">Thể loại</h3>
                <div class="custom-select" style="width:200px; margin-left: 12%; margin-top: -5%;">
                    <select>
                      <option value="0">Chọn thể loại:</option>
                      <option value="1">Nhạc Việt</option>
                      <option value="2">Nhạc Trẻ</option>
                      <option value="3">Nhạc Rap</option>
                      <option value="4">Nhạc Rock</option>
                      <option value="5">Nhạc Trữ tình</option>
                      <option value="6">Nhạc US</option>
                      <option value="7">Nhạc UK</option>
                      <option value="8">Nhạc K-Pop</option>
                    </select>
                </div>
            </div>
            <div style="margin-left:10%; margin-top: 4%;">

                <label class="container" style="font-size: 100%;">Chế độ công khai (tất cả mọi người đều thấy)
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                      </label>
                <label class="container" style="font-size: 100%;">Chế độ riêng tư (không ai thấy ngoài bạn)
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
        <button style="margin-top: 8%; margin-left: 32%; width: 40%; " mat-raised-button>
            <mat-icon>file_upload</mat-icon>
        </button>

    </div>
</p-dialog>