<!-- <div class="content">
    <div class="title">
        <div class="name">
            <h1 id="name">Tên bài hát</h1>
        </div>
        <div class="artist">
            <h1 id="artist"> Nghệ sĩ</h1>
        </div>
        <div class="listener">
            <h1 id="listener">Lượt nghe</h1>
        </div>
    </div>
    <div class="info">
        <div class="songname">
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
        </div>
        <div class="artistname">
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
        </div>
        <div class="listencount">
            <table class="table">
                <tr>
                  <td>
                    <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                  </td>
                    <td>223,232</td>
                </tr>
                <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
              </table>
        </div>
        <div class="edit">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div> -->

    <table>
    
            <tr>
                <th>Tên bài hát</th>
                <th>Nghệ sĩ</th>
                <th>Lượt nghe</th>
                <th></th>
            </tr>
       
            <tr>
                    <td>Muộn rôi mà sao còn</td>
                    <td>Sơn tùng-MTP</td>
                    <td id="count">
                        <mat-icon style="padding-right:10px;">headset_mic</mat-icon>
                        <p>232,567</p>
                    </td> 
                    <td>
                        <mat-icon style="padding-right:10px;">edit</mat-icon>
                        <mat-icon style="padding-right:10px;">delete</mat-icon>
                </td>
            </tr>
            

            <tr>
                <td>Muộn rôi mà sao còn</td>
                <td>Sơn tùng-MTP</td>
                <td id="count">
                    <mat-icon style="padding-right:10px;">headset_mic</mat-icon>
                    <p>232,567</p>
                </td> 
                <td>
                    <mat-icon style="padding-right:10px;">edit</mat-icon>
                    <mat-icon style="padding-right:10px;">delete</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Muộn rôi mà sao còn</td>
            <td>Sơn tùng-MTP</td>
            <td id="count">
                <mat-icon style="padding-right:10px;">headset_mic</mat-icon>
                <p>232,567</p>
            </td> 
            <td>
                <mat-icon style="padding-right:10px;">edit</mat-icon>
            <mat-icon style="padding-right:10px;">delete</mat-icon>
        </td>
    </tr>
    <tr>
        <td>Muộn rôi mà sao còn</td>
        <td>Sơn tùng-MTP</td>
        <td id="count">
            <mat-icon style="padding-right:10px;">headset_mic</mat-icon>
            <p>232,567</p>
        </td> 
        <td class="edit">
            <mat-icon style="padding-right:10px;">edit</mat-icon>
            <mat-icon style="padding-right:10px;">delete</mat-icon>
    </td>
</tr>
    </table>

<div class="add-button">
    <button style="font-size: 40px;border-radius: 10px;" mat-flat-button><mat-icon>file_upload</mat-icon></button>
</div>
