    //.content{
    // display: grid;
    // grid-template-columns: minmax(550px, 45%) 1fr;
    // // width: 70em;
    // // height: auto;
    // // border: 1px solid;
    // // margin-top: 5%;
    // // margin-left: 12rem;
    // // margin-bottom: 25%;
    // // margin-right: 15%;
    //  background-color: #202020;
    //}
    table {
        width: 100%;
        border: 1px solid;
        background-color: #202020;
    }
    
    th {
        text-align: start;
        padding-left: 2%;
        font-size: large;
        color: white;
    }
    
    table,
    td {
        text-align: start;
        padding-left: 2%;
        padding-top: 5%;
    }
    
    p,
    mat-icon {
        color: white;
    }
    
    #count {
        display: flex;
        flex-direction: row;
        padding-top: 25%;
    }
    
    .add-button {
        // position: absolute;
        position: fixed;
        bottom: 15%;
        right: 5%;
        background-color: white;
    }
    
    .edit {
        padding-right: 30px;
    }
    
    @media screen and (max-device-width:1000px) and (orientation: landscape) {
        .content {
            width: 100%;
        }
    }
    
    // #artist{
    //     font-size: 30px;
    // }
    // #listener{
    //     font-size: 30px;
    // }
    // .name{
    //     padding-left: 5%;
    //     margin-top: 3%;
    // }
    // .artist{
    //     padding-left: 15%;
    //     margin-top: 3%;
    // }
    // .listener{
    //     padding-left: 15%;
    //     padding-right: 10%;
    //     margin-top: 3%;
    // }
    // .info{
    //     display: flex;
    //     flex-direction: row;
    //     font-size: 17px;
    //     // margin-top: 15px;
    // }
    // .songname{
    //     display:flex;
    //     flex-direction: column;
    //     padding-left: 5%;
    //     margin-top: 8px;
    // }
    // .artistname{
    //     display:flex;
    //     flex-direction: column;
    //     padding-left: 15%;
    //     margin-top: 8px;
    // }
    // .listencount{
    //     // display:flex;
    //     // flex-direction: column;
    //     padding-left: 13%;
    //     padding-bottom: 15%;
    // }
    // .edit{
    //     // display:flex;
    //     flex-direction: column;
    //     padding-left: 12%;
    //     padding-right: 5%;
    //     margin-top: 8px;
    // }
    // .table{
    //     margin-bottom: 30px;
    //     border: 2px solid;
    // }
    .layout {
        margin-left: 10%;
        margin-top: 3%;
        width: 30%;
        height: 15%;
        border: 1.5px solid black;
        border-radius: 10%;
    }
    
    .hover:hover {
        text-decoration: underline #000000;
    }
    
    select {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
    }
    /* Hide the browser's default checkbox */
    
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    
    .container:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }