<!-- <div class="content">
    <div class="title">
        <div class="name">
            <h1 id="name">Tên bài hát</h1>
        </div>
        <div class="artist">
            <h1 id="artist"> Nghệ sĩ</h1>
        </div>
        <div class="listener">
            <h1 id="listener">Lượt nghe</h1>
        </div>
    </div>
    <div class="info">
        <div class="songname">
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
            <p> Muộn rồi mà sao còn </p>
        </div>
        <div class="artistname">
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
            <p> Sơn Tùng-MTP</p>
        </div>
        <div class="listencount">
            <table class="table">
                <tr>
                  <td>
                    <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                  </td>
                    <td>223,232</td>
                </tr>
                <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="icon" style="padding-right: 5px;">headset_mic</mat-icon>
                    </td>
                      <td>223,232</td>
                  </tr>
              </table>
        </div>
        <div class="edit">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div> -->
<div class="content">
    <table>

        <tr>
            <th>Tên bài hát</th>
            <th>Nghệ sĩ</th>
            <th>Lượt nghe</th>
            <th></th>
        </tr>

        <tr *ngFor="let audio of audioSV.audios">
            <td>
                <p>{{audio.songName}}</p>
            </td>
            <td>
                <p>{{audio.authorId?.artistName}}</p>
            </td>
            <td id="count">
                <mat-icon style="padding-right:30px;">headset_mic</mat-icon>
                <p>{{audio.listened}}</p>
            </td>
            <td>
                <mat-icon>edit</mat-icon>
                <mat-icon style="padding-left:10px;" (click)="_deleteAudio(audio._id)" >delete</mat-icon>
            </td>
        </tr>

    </table>
</div>

<div class="add-button">
    <button style="font-size: 40px;border-radius: 10px;background-color: white;" mat-flat-button><mat-icon style="color: black;" (click)="upload()" >file_upload</mat-icon></button>
</div>


<p-dialog header="Tải nhạc lên" [(visible)]="displayUpLoad" [style]="{width: '50vw'}">
    <p>Đóng góp thêm phần đa dạng cho âm nhạc</p>
    <div class="" [formGroup]="audioForm">
        <div style="" class="col-12 md:col-4">
            <div class="p-inputgroup" style=" margin-left: 10%">
                <span class="p-inputgroup-addon"><i class="pi pi-angle-right"></i></span>
                <input style="width: 70%;" type="text" pInputText placeholder="Tên bài hát" formControlName="songName">
            </div>
        </div>
        <div style="margin-top: 1%;" class="col-12 md:col-4 ">
            <div class="p-inputgroup ">
                <select style="width: 76.5%; margin-left: 10% " formControlName="authorId">
                    <option value="0">Chọn nghệ sĩ:</option>
                    <option *ngFor="let artist of artists" value="{{artist._id}}">{{artist.artistName}}</option>
                </select>
            </div>
        </div>
        <div class="custom-select" style="margin-left: 10%; width: 95.6%;">
            <select formControlName="category"> 
                        <option value="0">Chọn thể loại nhạc:</option>
                        <option *ngFor="let type of types" value="{{type._id}}">{{type.name_type}}</option>
                    </select>
        </div>
        <div style="margin-left:10%; margin-top: 4%;">
            <label class="container" style="font-size: 100%;">Chế độ công khai (tất cả mọi người đều thấy)
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
            </label>
            <label class="container" style="font-size: 100%;">Chế độ riêng tư (không ai thấy ngoài bạn)
                    <input type="checkbox">
                    <span class="checkmark"></span>
            </label>
        </div>
        <div style="display: flex;">
            <h3 style="font-size: medium; margin-left: 10%; margin-top: 2%;">Tải file nhạc lên:</h3>
            <div style="margin-top: 2.5%; margin-left: 1%">
                <input type="file">
            </div>
        </div>
        <div style="display: flex;">
            <h3 style="font-size: medium; margin-left: 10%; margin-top: 2%;">Tải file hình ảnh lên:</h3>
            <div style="margin-top: 2.5%; margin-left: 1%">
                <input type="File"  (change)="onSelect($event)">
            </div>
        </div>

        <button (click)="postData()" style="margin-top: 8%; margin-left: 32%; width: 40%;">
            <mat-icon mat-raised-button style="color: black;" >file_upload</mat-icon>
        </button>

    </div>
</p-dialog>