.container {
    width: 100%;
    height: 100%;
    background: #202020;
    color: rgb(255, 255, 255);
    // position: fixed;
    // : 0;
}

.logo {
    width: 125px;
    height: 125px;
    background-image: linear-gradient(to bottom right, rgba(41, 0, 164, 1), rgba(99, 91, 166, 0.51), rgba(22, 221, 198, 0));
    margin-left: 5%;
    margin-top: 5%;
}

.title-content {
    margin-top: 5%;
    margin-left: 3%;
}

table {
    width: 100%;
}

