<div class="container">
    <div style="display: flex;">
        <div class="logo">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
        </div>
        <div>
            <h4>Playlist</h4>
            <h1>Bài hát đã thích</h1>
            <div style="display:flex">
                <p>logo</p>
                <p>"User Name"</p>
                <p>.</p>
                <p>1 Bài hát</p>
            </div>
        </div>
    </div>
    <p>play-logo</p>
    <p>table</p>

</div>