.container {
    width: 100%;
    height: 15%;
    background: #1C1C1C;
    color: white;
    display: flex;
}

.search[type=text] {
    width: 40%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 25%;
}

.upgrade {
    // margin-left: 40%;
    border-radius: 20px;
    width: 10%;
    height: 70%;
    // margin-top: 1.25%;
}

.icon {
    color: aliceblue;
    margin-left: 20px;
}

.login {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    // margin-left: 8%;
    border-radius: 20px;
    width: 10%;
    height: 70%;
    // margin-top: 1.25%;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;

}

.display {
    display: inline-block;
    background-color: white;
    position: relative;
    top: 4.5px;
    left: 46%;
    padding-left: 10px;
    padding-right: 10px;
}

.spec-text {
    // background-color: red;
    height: 15px;
    border-bottom: 1px solid black;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 2em;
    margin-bottom: 10px;
}

.font-hover:hover {
    text-decoration: underline #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #000000;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
    
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }