<div class="main">
    <div class="title">
        <h1>Quản lý video</h1>
    </div>
    <div class="content">
        <table>
            <tr>
                <th>Tiêu đề</th>
                <th>Ngày đăng</th>
                <th>Thời lượng</th>
                <th> </th>
            </tr>
            <tr>
                <td class="tieude"><img id="theme" src="../../../../assets/admin-video-manage/CTCHT.jpg">
                    <p class="tenbaihat"> Chúng ta của hiện tại</p>
                </td>
                <td>1/2/2021</td>
                <td>6:25</td>
                <td>
                    <mat-icon>edit</mat-icon>
                    <mat-icon style="padding-left: 2%;">delete</mat-icon>
                </td>
            </tr>
            <tr>
                <td class="tieude"><img id="theme" src="../../../../assets/admin-video-manage/CTCHT.jpg">
                    <p class="tenbaihat"> Chúng ta của hiện tại</p>
                </td>
                <td>1/2/2021</td>
                <td>6:25</td>
                <td>
                    <mat-icon>edit</mat-icon>
                    <mat-icon style="padding-left: 2%;">delete</mat-icon>
                </td>
            </tr>
            <tr>
                <td class="tieude"><img id="theme" src="../../../../assets/admin-video-manage/CTCHT.jpg">
                    <p class="tenbaihat"> Chúng ta của hiện tại</p>
                </td>
                <td>1/2/2021</td>
                <td>6:25</td>
                <td>
                    <mat-icon>edit</mat-icon>
                    <mat-icon style="padding-left: 2%;">delete</mat-icon>
                </td>
            </tr>
            <tr>
                <td class="tieude"><img id="theme" src="../../../../assets/admin-video-manage/CTCHT.jpg">
                    <p class="tenbaihat"> Chúng ta của hiện tại</p>
                </td>
                <td>1/2/2021</td>
                <td>6:25</td>
                <td>
                    <mat-icon>edit</mat-icon>
                    <mat-icon style="padding-left: 2%;">delete</mat-icon>
                </td>
            </tr>
            <tr>
                <td class="tieude"><img id="theme" src="../../../../assets/admin-video-manage/CTCHT.jpg">
                    <p class="tenbaihat"> Chúng ta của hiện tại</p>
                </td>
                <td>2/3/2015</td>
                <td>6:25</td>
                <td>
                    <mat-icon>edit</mat-icon>
                    <mat-icon style="padding-left: 2%;">delete</mat-icon>
                </td>
            </tr>
        </table>
    </div>
    <div class="add-button">
        <button style="background-color: white;" mat-flat-button><mat-icon style="color: black;">file_upload</mat-icon></button>
    </div>
</div>