// .content{
//     display: grid;
//     grid-template-rows: minmax(550px, 45%) 1fr;
//     width: 80em;
//     height: auto;
//     border: 1px solid;
//     margin-top: 5%;
//     margin-left: 12rem;
//     margin-bottom: 25%;
//     margin-right: 15%;
//     background-color: #202020;
    
// }
.title{
    background-color: #202020;
    color: aqua;
    padding-left: 3%;
    
}
table{
    width: 100%;
    border: 2px solid white;
    background-color: #202020;
}
th{
    text-align: start;
    padding-left: 2%;
    font-size: large;
    color:white;
    
}
table,td{
    text-align: start;
    padding-left: 2%;
    padding-top: 5%;
    color:white;
    
}
#theme{
    width: 70px;
    height: auto;
}
.add-button{
    // position: absolute;
    position: fixed;
    bottom: 10%;
    right: 2%;
    margin-right: 5px;
    background-color: white;
    
    
 }
 .tieude{
     display: flex;
     flex-direction: row;
 }
 .tenbaihat{
     padding-top: 5%;
     padding-left: 1%;
 }