<div class="container">
    <div style="display: flex;">
        <div style="display: flex; margin-left: 5%; margin-top: 1%;">
            <img src="https://data.chiasenhac.com/data/cover/140/139611.jpg " alt=" ">
            <div style="margin-left: 5%;">
                <h2 style="font: bold; margin-top: 0%;">Muộn rồi mà sao còn</h2>
                <h4 style="margin-top: -7%; ">Sơn Tùng - MTP</h4>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
                    <mat-icon>shuffle</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
                    <mat-icon>play_circle</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
                    <mat-icon>skip_next</mat-icon>
                </button>
                <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
                    <mat-icon>repeat</mat-icon>
                </button>
            </div>
            <div class="time-of-item"> time!!</div>
        </div>
        <!-- <div>
            alo
        </div> -->
    </div>
</div>