.container {
    width: 100%;
    height: 12%;
    background: #44ff00;
    color: white;
    flex-direction: row;
}

img {
    width: 5%;
    height: 5%;
    border: solid white;
}

// .time-of-item {
//     width: 10%;
//     margin-top: 0.75%;
// }