.container {
    width: 100%;
    height: 60%;
    background: #131212;
    color: white;
    display: flex;
}

img {
    margin: 1rem;
    width: 13%;
    height: 13%;
    border: solid white;
}

.play-music {
    margin-top: 2rem;
}

// .time-of-item {
//     width: 10%;
//     margin-top: 0.75%;
// }