<div class="container">
    <div *ngIf="_audio" class="layout">
        <img class="image" [src]="_audio.photoURL" [alt]="_audio.songName">
        <p>{{ _audio.songName }}</p>
    </div>

    <div *ngIf="!_audio" class="layout">
        <p>Chưa chọn bài hát !</p>
    </div>

    <div class="play-music">
        <div class="container-play-music">
            <button mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>shuffle</mat-icon>
            </button>
            <button (click)="changeSong('previous')" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>skip_previous</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon " 
                aria-label="Example icon-button with heart icon ">
                <mat-icon>play_circle</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon " (click)="changeSong('next')">
                <mat-icon>skip_next</mat-icon>
            </button>
            <button (click)="loopSong()" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>repeat</mat-icon>
            </button>
        </div>
        <div class="progress" #process>
            <mat-progress-bar (click)="changeTime($event)" class="progress-bar" mode="determinate" value="{{this.progress}}" step="1" min="0" max="100" ></mat-progress-bar>
        </div>
    </div>

    <div class="add-more-item">
        <div class="body-more-item">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>lyrics</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>volume_up</mat-icon>
            </button>
            <mat-slider [value]="100" aria-label="unit(s)"></mat-slider>
        </div>
    </div>

</div>