<div class="container">
    <div class="layout">
        <div style="display: flex;">
            <img style="margin-left: 5rem" src="https://upload.wikimedia.org/wikipedia/vi/9/93/S%C6%A1n_T%C3%B9ng_M-TP_-_Mu%E1%BB%99n_r%E1%BB%93i_m%C3%A0_sao_c%C3%B2n.png " alt=" ">
            <div style="margin-top: 1rem">
                <h2 style="">Muộn rồi mà sao còn</h2>
                <h4 style="">Sơn Tùng - MTP</h4>
            </div>
        </div>
    </div>

    <div class="play-music">
        <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
            <mat-icon>shuffle</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
            <mat-icon>play_circle</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
            <mat-icon>skip_next</mat-icon>
        </button>
        <!-- <div class="time-of-item"> Dat ne!</div> -->
        <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon ">
        <mat-icon>repeat</mat-icon>
        </button>
    </div>

</div>