// .parent {
//     display: grid;
//     grid-template-columns: minmax(150px, 15%) 1fr;
//   }
.body {
    display: flex;
    width: 100%;
    #w70 {
        margin-top: 8vh;
        background: #202020;
        width: 82%;
    }
    #w30 {
        background: #202020;
        width: 18%;
    }
    .footer {
        padding: 0px 0px 10% 0px;
    }
}