// .parent {
//     display: grid;
//     grid-template-columns: minmax(150px, 15%) 1fr;
//   }

.body {
  display: flex;
  width: 100%;
  #w70 {
    background: pink;
    width: 85%;
  }
  #w30 {
    background: yellow;
    width: 15%;
  }
}
