<!-- <div>
    <div class="parent">
        <div class="section yellow" >
            <app-side-bar class="left-sidebar"></app-side-bar>
        </div>
        <div class="section purple" >
            <app-nav-bar></app-nav-bar>
            <app-kind-of-music></app-kind-of-music>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div>
    <app-nav-bar></app-nav-bar>
    <div class="body">
        <div id="w30">
            <app-side-bar></app-side-bar>
        </div>
        <div id="w70">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-music-bar></app-music-bar>
</div>


<!-- don't user "contenteditable" -->