.body{
    background-color: #181818	;
    height: 100vh;
    width: 100%;
    padding: 5% 0 0 10%;
    
    
}
.container{
    height: 300px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin: 50px 0 0 15%;
}
.content{
    height: 100%;
    width: 20% ;
    background-color: darkolivegreen;
    border-radius: 10px;
}
.img{
    height: 100%;
    width: 100%;
}
ul.a {
    list-style-type: circle;
  }
  