.container {
    width: 81rem;
    height: 32.7rem;
    background: #202020;
    color: rgb(255, 255, 255);
}

img {
    width: 15rem;
    height: 8rem;
    border-radius: 10px;
    margin: 0.8rem 0 0 1.7rem;
}

.item {
    width: 23%;
    height: 50%;
    background-color: #64696B;
    border-radius: 25px;
    margin-left: 5rem;
}