<div class="product-items" >
    <div class="product" *ngFor="let audio of audioSV.audios"  > 
        <div (click) = "getDetail(audio._id)">
            <div class="product-content">
                <div class="product-img">
                    <img [src]="audio.photoURL" alt="" />
                </div>
            </div>
            <p class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">{{audio.songName}}</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">{{audio.authorId?.artistName}}</p>
        </div>
    </div>
</div>
