<!-- <div class="container">
    <div style="background-color: #202020;" class="items">
        <div class="content">
            <div class="item">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5>Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>

            <div class="item" style="margin-top: 2rem;">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5>Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="item">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5>Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>

            <div class="item" style="margin-top: 2rem;">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5>Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="item">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5 style="">Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>

            <div class="item" style="margin-top: 2rem;">
                <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
                <h3 style=" font: bold; margin-left: 10%;">Không trọn vẹn nữa</h3>
                <div style="display: flex; margin-top: -1rem; margin-left: 10%;">
                    <h5>Châu Khải Phong</h5>
                    <mat-icon style="color: white; margin-top: -1.5rem; margin-left: 35%;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="next-page">
        <ol style="display: flex;">
            <a id="hover-number">1</a>
            <a class="page" id="hover-number">2</a>
            <a class="page" id="hover-number">3</a>
            <a class="page" id="hover-number">4</a>
            <a class="page" id="hover-number">5</a>
            <a class="page" id="hover-number">Trang tiếp</a>
        </ol>
    </div>
</div> -->

<div class="product-items" >
    <div class="product" *ngFor="let audio of audioSV.audios"  > 
        <div (click) = "getDetail(audio._id)">
            <div class="product-content">
                <div class="product-img">
                    <img [src]="audio.photoURL"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">{{audio.songName}}</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">{{audio.authorId.artistName}}</p>
        </div>
    </div>

    <!-- <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div>

    <div class="product">
        <div>
            <div class="product-content">
                <div class="product-img">
                    <img src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg"
                        alt="" />
                </div>
            </div>
            <p  class="title-name" style="font-weight: bold; font-size: 14pt; color: white;">Không trọn vẹn nữa</p>
            <p class="artist-name" style="font-weight: bold; font-size: 10pt;">Son Tung MTP</p>
        </div>
    </div> -->
</div>
<div class="footer" ></div>

