<div class="container">
    <div style="display:flex;">
        <div style="margin-left: 6.5rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h3 style="margin-left: 2.5rem; font: bold;">Không trọn vẹn nữa</h3>
            <div style="display: flex; margin-top: -1rem;">
                <h5 style="margin-left: 2.5rem;">Châu Khải Phong</h5>
                <mat-icon style="color: white; margin-left: 7rem; margin-top: -0.5rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>

        <div style="margin-left: 5.4rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h3 style="margin-left: 2.5rem; font: bold;">Không trọn vẹn nữa</h3>
            <div style="display: flex; margin-top: -1rem;">
                <h5 style="margin-left: 2.5rem;">Châu Khải Phong</h5>
                <mat-icon style="color: white; margin-left: 7rem; margin-top: -0.5rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>

        <div style="margin-left: 5.4rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h3 style="margin-left: 2.5rem; font: bold;">Không trọn vẹn nữa</h3>
            <div style="display: flex; margin-top: -1rem;">
                <h5 style="margin-left: 2.5rem;">Châu Khải Phong</h5>
                <mat-icon style="color: white; margin-left: 7rem; margin-top: -0.5rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>


    </div>
    <div style="display:flex; margin-top: 2rem;">
        <div style="margin-left: 6.5rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h2 style="margin-left: 0.8rem; margin-top: -0.8rem; font: bold;">Không trọn vẹn nữa</h2>
            <div style="display: flex; margin-top: -1rem;">
                <h4 style="margin-left: 0.8rem;">Châu Khải Phong</h4>
                <mat-icon style="color: white; margin-left: 9rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>

        <div style="margin-left: 5.4rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h3 style="margin-left: 2.5rem; font: bold;">Không trọn vẹn nữa</h3>
            <div style="display: flex; margin-top: -1rem;">
                <h5 style="margin-left: 2.5rem;">Châu Khải Phong</h5>
                <mat-icon style="color: white; margin-left: 7rem; margin-top: -0.5rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>
        <div style="margin-left: 5.4rem;" class="item">
            <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
            <h3 style="margin-left: 2.5rem; font: bold;">Không trọn vẹn nữa</h3>
            <div style="display: flex; margin-top: -1rem;">
                <h5 style="margin-left: 2.5rem;">Châu Khải Phong</h5>
                <mat-icon style="color: white; margin-left: 7rem; margin-top: -0.5rem;" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            </div>
        </div>
    </div>
</div>