.container {
    width: 100%;
    height: 90%;
    background: #202020;
    color: rgb(255, 255, 255);
}

img {
    width: 91%;
    height: 50%;
    border-radius: 15px;
    margin: 0.5rem;
}

.item {
    width: 15.5%;
    height: 50%;
    background-color: #64696B;
    border-radius: 25px;
    margin-left: 5rem;
}

.page {
    margin-left: 2%;
}

.next-page {
    background-color: #202020;
    margin: 4%;
}

#hover-number:hover {
    text-decoration: underline rgb(255, 255, 255);
}