.container {
    width: 100%;
    background: #000000;
    color: white;
    height: 100%;
}

.logo {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;
}

.name-icon {
    font-size: 17px;
    margin-top: 1%;
    margin-left: 8%;
}

hr {
    margin-top: 20%;
    width: 70%;
    background-color: #C4C4C4;
}

.name-list {
    display: grid;
    margin-left: 12%;
    margin-top: 20%;
    border-top: white;
}