<div class="top">
    <p style="font-size: xx-large;margin: 0px 0 0 0;color: aliceblue;background-color: #181818;">Top 100<mat-icon style="color: aliceblue;">music_note</mat-icon></p>
</div> 
<div class="body">

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: 20px;margin-left: 20px;">Không trọn vẹn nữa</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Châu Khải Phong</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>
    
    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/FN7ALfpGxiI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Nơi này có anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Sơn Tùng MTP</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/share/2022/01/26/1/f/7/6/1643184498175.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy về khóc với anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Erik</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://media.sohuutritue.net.vn/files/huongmi/2018/05/12/mv-chay-ngay-di-cua-son-tung-mtp-1-0545.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy ngay đi</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Sơn Tùng MTP</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/2018/07/09/d/c/c/0/1531124811438_640.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Bài ca tuổi trẻ</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">DaLab</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/RaoBKCKIDAI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy về nơi phía anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Khắc Việt</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/fTXd-DpN3AI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Bông hoa đẹp nhất</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">QUÂN A.P </h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/FZevI40E6T4/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 15px;">Còn gì đau hơn chữ đã từng</h2>
            <h1 style="font-size: small;margin: 0 0 30px 15px; margin-top: -20px;">QUÂN A.P</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/P_jk6caKnfA/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Ai là người thương em</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">QUÂN A.P</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/OVDg8CQlBBA/hqdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Day dứt nỗi đau</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Mr.Siro</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/2017/11/20/f/c/e/7/1511155661424_640.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Buông </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Bùi Anh Tuấn</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>
    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/_fqgI1wqz1k/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chưa bao giờ </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Trung Quân</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/playlist/2013/11/06/c/c/a/8/1383713440406_500.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Dấu mưa</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Trung Quân</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/dLQe4qEfVJw/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">1 phút </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Andiez</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/playlist/2014/04/22/b/7/7/0/1398180213302_500.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Bâng khuâng </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Justatee</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://upload.wikimedia.org/wikipedia/vi/1/1b/Binz_-_Bigcityboi.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Big city boi </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Binz</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/SNES5Y-tYxM/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Ok</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Binz</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/xypzmu5mMPY/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Muộn rồi mà sao còn </h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Sơn Tung MTP</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/Eb8fj-jstNo/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Thì thôi</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Teddy</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/yG3Hz3eKHEY/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chuyện tình tôi</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Kay Trần</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    

</div>

