<div class="top">
    <p style="font-size: xx-large;margin: 50px 0 0 100px;color: aliceblue;">Top 100<mat-icon style="color: aliceblue;">music_note</mat-icon></p>
    
    
</div>
<div class="body">


    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/YkKif77JQWI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Không trọn vẹn nữa</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Châu Khải Phong</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>
    
    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/FN7ALfpGxiI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Nơi này có anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Sơn Tùng MTP</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/share/2022/01/26/1/f/7/6/1643184498175.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy về khóc với anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Erik</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://media.sohuutritue.net.vn/files/huongmi/2018/05/12/mv-chay-ngay-di-cua-son-tung-mtp-1-0545.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy ngay đi</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Sơn Tùng MTP</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://avatar-ex-swe.nixcdn.com/song/2018/07/09/d/c/c/0/1531124811438_640.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Bài ca tuổi trẻ</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">DaLab</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

    <div class="container">
        <img class="img" src="https://i.ytimg.com/vi/RaoBKCKIDAI/maxresdefault.jpg" alt="">
        <div style="color: aliceblue;">
            <h2 style="font-size: larger;margin-left: 20px;">Chạy về nơi phía anh</h2>
            <h1 style="font-size: small;margin: 0 0 30px 20px; margin-top: -20px;">Khắc Việt</h1>
            
        </div>
        <div class="heart">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
    
        </div>
    </div>

</div>

