<div *ngIf="_audio" class="container">
    <div class="layout">
        <img class="image" [src]="_audio.photoURL">
        <div class="song" style="color: white;padding-left: 35px;">
            <h1>{{_audio.songName}}</h1>
            <h2>{{_audio.authorId?.artistName}}</h2>
            <div class="name">
                <div class="name1">
                    <h2> Bài hát:</h2>
                    <h2> Nghệ sĩ:</h2>
                    <h2> Ngày đăng:</h2>
                </div>
                <div class="name2">
                    <h2> {{ _audio.songName }}</h2>
                    <h2> {{_audio.authorId?.artistName}} </h2>
                    <h2> {{_audio.dateSubmit | date: "medium"}} </h2>
                </div>
            </div>
            <!-- <div class="description">
                <h2 style="width: 20%; height: 61.1px;"> Bên cấp phép cho YouTube:</h2>
                <h2 style="margin-left: 60px; width: 50%;"> POPS Worldwide; SOLAR Music Rights Management và 3 Hiệp hội bảo vệ quyền âm nhạc
                </h2>
            </div> -->
        </div>
    </div>

    <div class="suggestion">
        <h3 style="margin-left: 15px;color: white;">Gợi ý ca sĩ</h3>
        <div class="singer">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Snoop_Dogg.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/kay-traan.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Rihanna.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Dr.dre.jpg">
            <img class="singer_image" src="../../../../assets/Images/eminem.jpg">
        </div>
        <div class="singer_name" style="color: white;">
            <h3 style="margin-right: 90px;">Snoop_Dogg</h3>
            <h3 style="margin-right: 100px;">Kay-traan</h3>
            <h3 style="margin-right: 100px;">Rihanna</h3>
            <h3 style="margin-right: 120px;">Dr.Dre</h3>
            <h3>Eminem</h3>
        </div>
    </div>
</div>

<div *ngIf="!_audio">
    <div style="padding: 50px;" >

    </div>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a target="_blank" href="https://www.silocreativo.com/en/creative-examples-404-error-css/"
            class="more-link">Visit the original article</a>
    </div>
</div>