.container {
    background-color: #202020;
    padding: 5%;
    width: 100%;
    height: auto;
}

.layout {
    display: flex;
    width: 100%;
}

.image {
    width: 400px;
    height: 400px;
}

.name {
    display: flex;
    // color: white;
    font-size: larger;
}

.name2 {
    margin-left: 17%;
}

.description {
    display: flex;
    // color: white;
}

.singer {
    display: flex;
    margin-left: 15px;
}

.singer_name {
    display: flex;
    margin-left: 40px;
}

.singer_image {
    width: 143px;
    height: 143px;
}

.suggestion {
    margin-top: 20px;
}

.song {
    width: 100%;
    height: auto;
}