<div class="container">
    <div class="layout">
        <img class="image" src="../../../../assets/Images/muon-roi-ma-sao-con.jpg">
        <div class="song" style="color: white;padding-left: 35px;">
            <h1> Muộn rồi mà sao còn</h1>
            <h2> Sơn Tùng M-TP</h2>
            <div class="name">
                <div class="name1">
                    <h2> Bài hát:</h2>
                    <h2> Nghệ sĩ:</h2>
                    <h2> Ngày đăng:</h2>
                </div>
                <div class="name2">
                    <h2> Muộn rồi mà sao còn</h2>
                    <h2> Sơn Tùng M-TP</h2>
                    <h2> 15/10/2021</h2>
                </div>
            </div>
            <div class="description">
                <h2 style="height: 61.1px;"> Bên cấp phép cho YouTube:</h2>
                <h2 style="margin-left: 70px;"> POPS Worldwide; SOLAR Music Rights Management và 3 Hiệp hội bảo vệ quyền âm nhạc
                </h2>
            </div>
        </div>
    </div>
    <div class="suggestion">
        <p style="margin-left: 15px;color: white;">Gợi ý ca sĩ</p>
        <div class="singer">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Snoop_Dogg.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/kay-traan.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Rihanna.jpg">
            <img class="singer_image" style="margin-right:20px;" src="../../../../assets/Images/Dr.dre.jpg">
            <img class="singer_image" src="../../../../assets/Images/eminem.jpg">
        </div>
        <div class="singer_name" style="color: white;">
            <p style="margin-right: 90px;">Snoop_Dogg</p>
            <p style="margin-right: 100px;">Kay-traan</p>
            <p style="margin-right: 120px;">Rihanna</p>
            <p style="margin-right: 120px;">Dr.Dre</p>
            <p>Eminem</p>
        </div>

    </div>
</div>