.container {
    background-color: #202020;
    padding: 0% 5% 0% 5%;
    width: 100%;
    height: 100%;
}

.layout {
    display: flex;
    width: 100%;
}

.image {
    width: 20%;
    height: 20%;
}

.name {
    display: flex;
    // color: white;
    font-size: larger;
}

.name2 {
    margin-left: 17%;
}

.description {
    display: flex;
    // color: white;
}

.singer {
    display: flex;
    margin-left: 15px;
}

.singer_name {
    display: flex;
    margin-left: 40px;
}

.singer_image {
    width: 143px;
    height: 143px;
}

.suggestion {
    // margin-top: 0%;
}

.song {
    width: 100%;
    height: auto;
}