.container {
  width: 100%;
  // height: 60%;
  height: 15%;
  background: #131212;
  color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
}

.layout {
  width: 20%;
  .image {
    width: 100px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  p {
    font-size: 14pt;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.play-music {
  width: 60%;
  .container-play-music {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
  .progress {
    width: 80%;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: #ffffff;
      }
      
      ::ng-deep .mat-progress-bar-buffer {
        background: #000000;
      }
      
      ::ng-deep .mat-progress-bar {
        border-radius: 0.5px;
      }
      .progress-bar:hover{
          cursor: pointer;
      }
  }
}

#myBar {
  width: 40%;
  height: 30px;
  background-color: #04aa6d;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: white;
}

.add-more-item {
  width: 20%;
  .body-more-item {
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

mat-slider {
  width: 50px;
}
