<div class="container">
    <div *ngIf="_audio" class="layout">
        <img class="image" [src]="_audio.photoURL" [alt]="_audio.audioName">
        <p>{{ _audio.audioName }}</p>
    </div>

    <div *ngIf="!_audio" class="layout">
        <p>Chưa chọn bài hát !</p>
    </div>

    <div class="play-music">
        <div class="container-play-music">
            <button mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>shuffle</mat-icon>
            </button>
            <button (click)="changeSong('previous')" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>skip_previous</mat-icon>
            </button>
            <button *ngIf="!isPlay" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon " (click)="PlayandPause()">
                <mat-icon>play_circle</mat-icon>
            </button>
            <button *ngIf="isPlay" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon " (click)="PlayandPause()">
                <mat-icon>pause_circle_filled</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon " (click)="changeSong('next')">
                <mat-icon>skip_next</mat-icon>
            </button>
            <button *ngIf="!isLoop" (click)="loopSong()" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>repeat</mat-icon>
            </button>
            <button *ngIf="isLoop" (click)="loopSong()" mat-icon-button class="example-icon favorite-icon "
                aria-label="Example icon-button with heart icon ">
                <mat-icon>repeat_one</mat-icon>
            </button>

        </div>
        <div class="progress" #process>
            <mat-progress-bar (click)="changeTime($event)" class="progress-bar" mode="determinate"
                value="{{this.progress}}" step="1" min="0" max="100"></mat-progress-bar>
        </div>
    </div>

    <div class="add-more-item">
        <div class="body-more-item">
            <button (click)="_addLibrary(_audio._id)" matTooltip="Thêm nhạc" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button matTooltip="Lời bài hát" mat-icon-button>
                <mat-icon>lyrics</mat-icon>
            </button>
            <button matTooltip="Tắt âm" *ngIf="!isMute" (click)="muteVolume()" mat-icon-button>
                <mat-icon>volume_up</mat-icon>
            </button>
            <button matTooltip="Mở âm" *ngIf="isMute" (click)="muteVolume()" mat-icon-button>
                <mat-icon>volume_off</mat-icon>
            </button>
            <mat-slider (change)="adjustVolume($event)" [value]="speak" aria-label="unit(s)" step="1" min="0" max="100">
            </mat-slider>
        </div>
    </div>

</div>